<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8" >
    <title>Form Students</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-slate-200">
<div layout:fragment="body" class="flex wrap justify-center mt-10">
    <div class="relative overflow-x-auto rounded-lg bg-white w-1/2 p-8">
        <h4 class="w-full text-4xl font-medium leading-snug"EDIT Student</h4>

        <form method="post" th:action="@{/save(page=${page},keyword=${key})}" class="relative w-full mt-6 space-y-8">
            <input type="hidden" name="id" th:value="${editStudent.id}">
            <div class="relative">
                <label class="absolute text-lg px-2 ml-2 -mt-3 text-gray-600 bg-white">Nom</label>
                <input th:value="${editStudent.nom}" name="nom" type="text" class="block w-full px-4 py-4 mt-2 text-base placeholder-gray-400 bg-white border border-gray-300 rounded-md focus:outline-none focus:border-black">
                <span class="text-red-600" th:errors="${editStudent.nom}"></span>
            </div>
            <div class="relative">
                <label class="absolute text-lg px-2 ml-2 -mt-3 text-gray-600 bg-white">Prenom</label>
                <input th:value="${editStudent.prenom}" name="prenom" type="text" class="block w-full px-4 py-4 mt-2 text-base placeholder-gray-400 bg-white border border-gray-300 rounded-md focus:outline-none focus:border-black">
                <span class="text-red-600" th:errors="${editStudent.prenom}"></span>
            </div>
            <div class="relative">
                <label class="absolute text-lg px-2 ml-2 -mt-3 text-gray-600 bg-white">Email</label>
                <input th:value="${editStudent.email}" name="email" type="email" class="block w-full px-4 py-4 mt-2 text-base placeholder-gray-400 bg-white border border-gray-300 rounded-md focus:outline-none focus:border-black">
                <span class="text-red-600" th:errors="${editStudent.email}"></span>
            </div>
            <div class="relative">
                <label class="absolute text-lg px-2 ml-2 -mt-3 text-gray-600 bg-white">Date de naissance</label>
                <input th:value="${editStudent.dateNaiss}" name="dateNaiss" type="date" class="block w-full px-4 py-4 mt-2 text-base placeholder-gray-400 bg-white border border-gray-300 rounded-md focus:outline-none focus:border-black">
                <span class="text-red-600" th:errors="${editStudent.dateNaiss}"></span>
            </div>
            <div class="relative flex ">
                <label class="text-lg px-2 ml-2 -mt-3 mr-6 text-gray-600 bg-white">Sexe</label>
                <span class="text-lg">Male</span>
                <input th:value="MASCULIN" checked name="genre" type="radio" class="w-1/5 px-2 py-4 mt-2 text-base placeholder-gray-400 bg-white border border-gray-300 rounded-md focus:outline-none focus:border-black">
                <span class="text-lg">Female</span>
                <input th:value="FEMININ" name="genre" type="radio" class="w-1/5 px-2 py-4 mt-2 text-base placeholder-gray-400 bg-white border border-gray-300 rounded-md focus:outline-none focus:border-black">
            </div>

            <div class="relative">
                <label class="absolute text-lg px-2 ml-2 -mt-3 text-gray-600 bg-white">Regle</label>
                <input th:checked="${editStudent.isRegle()}" name="regle" type="checkbox" class="block w-full px-4 py-4 mt-2 text-base placeholder-gray-400 bg-white border border-gray-300 rounded-md focus:outline-none focus:border-black">
            </div>

            <div class="relative">
                <button class="inline-block w-full px-5 py-4 text-xl font-medium text-center text-white transition duration-200 bg-blue-600 rounded-lg hover:bg-blue-500 ease">save</button>
            </div>
        </form>
    </div>
</div>


</body>
</html>